.pageContent {
  margin: 0 1vw;
  height: 100vh;
}

.sortAndFilters {
  height: auto;
  border: solid black 1px;
}

.productsAndTitle {
  margin: 2vw 0 0 3vw;
}

.productItem {
  // width: auto;
  height: 20vw;
}
