.text {
  color: white;
  margin-left: 1.5em;
}

.cartNumber {
  margin-left: 5px;
}

.cartCard {
  color: white;
  border: white solid 1px;
  border-radius: 8px;
  padding: 0 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
